// @import "designSystem/colors.scss";


//palette
$primary: #86b34f;
$background: #292F36;
$light-background: #606266;
$dark-background: #21262C;

//fonts
$font-primary:  white;
$font-primary-black:#292F36;
$font-title: white;
$font-subtitle: #757575;
$font-light: #fff;

