@import "../../../../designSystem/colors.scss";

.CreateUsersComponent {
    padding-left: 80px;
    padding-right: 80px;

    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
